.playground-mainContent {
    display: flex;
    flex: 1;
    flex-direction: row;
    min-height: 0;
}

.playground-inputContent {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 0;
    gap: 10px;
}